---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Sam Watts" description="Learn more about Sam Watts, a web developer with a strong foundation in problem-solving, teamwork, and full-stack development.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/opencity.jpeg"
					alt="Sam Watts"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						With 10+ years of experience in high-pressure restaurants and bars, I’ve honed my skills in leadership, problem-solving, and adaptability. 
						Managing teams in fast-paced environments has taught me critical decision-making, workflow optimization, and how to thrive under pressure.  
					</p>
					<p>
						Transitioning into web development, I have built full-stack and static web applications that focus on user experience, efficiency, and scalability.
						My projects, including a interactive golf course mapping system, and an NSCC timesheet portal using the MERN stack, showcase my ability to
						solve real-world problems through .
					</p>
					<br>
					<p>
						I am passionate about people, collaboration, and creative expression, with a strong drive to solve real-world problems through technology. Eager to learn and grow, I am transitioning into a new career where I can apply and expand my skillset while making a meaningful impact.					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><strong>NSCC, Halifax NS – IT Web Programming</strong> (2023 - 2025)</p>
					<ul>
						<li>Focused on web and simple full-stack development, databases, and UI/UX design.</li>
						<li>Developed applications using React, Laravel, MongoDB, SQL, as well as basic static HTML </li>
						<li>Used tools such as Jira and Trello for project management, collaborative tools such as Github </li>
					</ul>

					<p><strong>NSCC, Kentville NS – Academic Career Connections</strong> (2015 - 2016)</p>
					<ul>
						<li>Completed courses that I opted out of in High School such as College Mathematics I and Physics I</li>
					</ul>

					<p><strong>Acadia University, Wolfville NS – Environmental Sustainability Studies</strong> (2014 - 2015)</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<h5>Technical Skills</h5>
					<ul>
						<li><strong>Programming Languages:</strong> JavaScript, PHP, HTML, CSS, C#, Python, SQL</li>
						<li><strong>Frameworks & Tools:</strong> React, Laravel, Vite, Git/GitHub, Node.js, .NET, MongoDB</li>
						<li><strong>Development Practices:</strong> API development, authentication, database design, Agile methodologies</li>
					</ul>
					<br>			
					<h5>Soft Skills</h5>
					<ul>
						<li><strong>Leadership & Teamwork:</strong> Led teams in high-pressure environments, training and mentoring staff.</li>
						<li><strong>Problem-Solving:</strong> Experience debugging applications, troubleshooting databases, and optimizing workflows.</li>
						<li><strong>Adaptability:</strong> Transitioned from restaurant management to web development, embracing new challenges.</li>
						<li><strong>Communication:</strong> Strong ability to teach and explain concepts, and collaborate in team projects.</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
