---
import type { CollectionEntry } from 'astro:content';

interface Props {
	project: CollectionEntry<'work'>;
}

const { data, id } = Astro.props.project;
---

<a class="card" href={`/work/${id}`}>
	<span class="title">{data.title}</span>
	<picture>
		<source srcset={data.gif} type="image/gif" media="(hover: hover)" />
		<img src={data.img} alt={data.img_alt || ''} loading="lazy" decoding="async" class="preview-image" />
	</picture>
</a>

<style>
.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 11rem;
	background: var(--gradient-subtle);
	border: 1px solid var(--gray-800);
	border-radius: 0.75rem;
	overflow: hidden;
	box-shadow: var(--shadow-sm);
	text-decoration: none;
	font-family: var(--font-brand);
	font-size: var(--text-lg);
	font-weight: 500;
	transition: box-shadow var(--theme-transition);
	position: relative;
}

.card:hover {
	box-shadow: var(--shadow-md);
}

.title {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0.5rem;
	padding: 0.5rem 1rem;
	background: rgba(73, 73, 73, 0.7); /* Darker background to improve readability */
	color: #ffffff;
	border-radius: 0.375rem;
	font-size: var(--text-md);
}

picture {
	display: block;
	width: 100%;
	height: 100%;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (min-width: 50em) {
	.card {
		height: 22rem;
		border-radius: 1.5rem;
	}

	.title {
		border-radius: 0.9375rem;
		font-size: var(--text-lg);
	}
}
</style>