---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Problem Solver</h2>
		<p>Experience troubleshooting and debugging small full-stack applications, from database queries to frontend UI issues.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="rocket-launch" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Innovative Builder</h2>
		<p>Developed projects like a workout roulette app, a golf course mapping system, and a timesheet portal.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Project Planner</h2>
		<p>Experienced in using Jira and Trello for project management, assisting with team collaboration, task delegation, and workload balancing in group projects.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="key" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Security-Minded</h2>
		<p>Worked with OWASP Juice Shop challenges and implemented authentication and security best practices in web apps.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="stack" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Data-Driven</h2>
		<p>Experience with SQL, MongoDB, and NoSQL databases.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="moon-stars" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Driven & Adaptable</h2>
		<p>With experience as a part-time real estate drone photographer and videographer, I bring a proactive, problem-solving mindset to every project. Passionate about continuous learning, I embrace challenges, take ownership of my work, and strive for growth in every opportunity.</p>
	</div>	
</section> 


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
